

.gallery {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.cards {
    position: absolute;
    
    transform: translate(-50%, -50%);
}



@media (min-width: 320px){
    .cards {
        left: 40%;
      }
 }
@media (min-width: 375px){
    .cards {
        left: 39%;
      }
 }
@media (min-width: 768px){
    .cards {
        left: 45%;
      }
 }
@media (min-width: 1024px){
    .cards {
        left: 48%;
      }
 }
.cards li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 150px;
  font-size: 5rem;
  font-family: sans-serif;  
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.8rem;
  color: #f1295f;
  
}

.cards li:hover{
    
    color: #ffffff;
    text-shadow: 0 0 10px;
    transition: .5s ;
    
    
    
    
}

 .actions {
  position: absolute;
  
  left: 51%;
  transform: translateX(-50%);
}

@media (max-width: 320px) {
  .actions{
    left: 0%;
  }
}
@media (max-width: 1980px) {
  .actions{
    left: 49.5%;
  }
}
@media (max-width: 1024px) {
  .actions{
    left: 53%;
  }
}

.btn-scroll {
    font-size: 1.2rem;
    color: #f1295f;
    padding: 5px 10px;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
}
.btn-scroll:hover {
    color: #ffffff;
}

/* a {
  color: #88ce02;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
} */
